
<div class="grid-x">
  <div class="cell small-offset-2 small-4">
    <h1>Users</h1>

    <div class="new-user-link">
      <%= link_to "New User", new_user_path %>
    </div>

    <% @users.each do |user| %>
      <div>Name: <%= user.name %></div>
      <div>Email: <%= user.email %></div><br>
    <% end %>
  </div>
</div>
